<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/082d0d73-f197-45c5-9884-581c8f0ce102/resourcegroups/learn-12436e2c-ed49-4bc0-a4cc-ddcd4d37b5fd/providers/Microsoft.Web/sites/ContosoPizza20231127153321</ResourceId>
    <ResourceGroup>learn-12436e2c-ed49-4bc0-a4cc-ddcd4d37b5fd</ResourceGroup>
    <ApiResourceId>/subscriptions/082d0d73-f197-45c5-9884-581c8f0ce102/resourceGroups/learn-12436e2c-ed49-4bc0-a4cc-ddcd4d37b5fd/providers/Microsoft.ApiManagement/service/ContosoPizzaapiii/apis/ContosoPizza</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://contosopizza20231127153321.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>4184edc4-355d-4615-807d-40068c5874e0</ProjectGuid>
    <MSDeployServiceURL>contosopizza20231127153321.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ContosoPizza20231127153321</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ContosoPizza20231127153321</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>